:root{
  --vhvw: calc(1vh + 1vw);
}

@font-face {
  font-family: titleFont;
  src: url(/fonts/quadranta-regular.woff2);
}

*{
  padding: 0;
  margin: 0;
}

.maincont{

  margin-top: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;

  justify-content: space-evenly;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20vw;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
}

.backgroundLogo{
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  height: 100vh;
}

.logoImg{
  opacity: 0.5;
  width: calc(var(--vhvw)*20);
}

.btnIcon{
  width: 15vw;
}

icontitle{
  margin-top: 1vh;
  font-size: 1.8vw;
}

.openOption{
  padding: 0.7vw;
  border-radius: 25px;
  margin-bottom: 1.5vh;
  font-size: 1.3vw;
}

.titlecont{
  display: flex;
  justify-content: center;

}

h2{
  position: absolute;
  top: 3vh;
  font-family: 'titleFont', sans-serif;
  font-size: calc(var(--vhvw)*2.5);
}

@media only screen and (max-width: 500px){
  body{
    display: flex;
    justify-content: center;
  }
  h2{
  }
  .maincont{
    width: 99vw;
    flex-wrap: wrap;
  }
  .menu{
    margin-bottom: 2vh;
    width: 40vw;

  }
  .titlecont{
    display: contents;
  }
  .openOption{
    font-size: 3vw;
    margin-top: 1vh;
  }
  icontitle{
    font-size: 3vw;
  }

}

@media only screen and (min-width: 500px){
  h2{
  }
}